[submodule "ScoreToHealth"]
	path = ScoreToHealth
	url = https://github.com/Ai-Akaishi/ScoreToHealth.git
[submodule "AiUtil"]
	path = AiUtil
	url = https://github.com/Ai-Akaishi/AiUtil.git
[submodule "AnywhereFunction"]
	path = AnywhereFunction
	url = https://github.com/Ai-Akaishi/AnywhereFunction.git
